<!DOCTYPE html>
<html>
    <head>
        <title> Iris ML Flask App </title>
    </head>
    <body>
        <h1> Iris Flower Classification </h1>

        <form action="/predict" method="POST">
            <label>Sepal length: </label>
            <input type="text" name="sepal_length"><br><br>
            <label>Sepal width: </label>
            <input type="text" name="sepal_width"><br><br>
            <label>Petal length: </label>
            <input type="text" name="petal_length"><br><br>
            <label>Petal width: </label>
            <input type="text" name="petal_width"><br><br>

            <input type="submit" value="Predict">
        </form>

        <h2> {{ prediction_text }} </h2>
    </body>
</html>